body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: normal;
  font-size: 18px;
}

.listing {
  margin: 30px 0;

  &.card {
    padding: 10px;

    .card-footer {
      background: none;
      padding: 0;
      padding-top: 10px;

      .product-link {
        & + .product-divider {
          &:after {
            margin: 7px;
            content: "‧";
          }
  
          &:last-child {
            &:after {
              content: ''
            }
          }
        }
      }

      .sponsored {
        font-size: .7em;
        opacity: .75;
        vertical-align: middle;
      }
    }
  }

  .display-url-link {
    text-decoration: none;
  }

  .display-url {
    color: $green;
    font-style: italic;
    margin: 5px 0;
  }

  .marketplace-label {
    border: 1px solid $green;
    padding: 0px 4px;
    border-radius: 8px;
    margin-right: 5px;
  }
}

.hidden-impression {
  position: absolute;
}