body {
  @include body-font;
  opacity: 0;
  transition: opacity 1s;

  &.loaded {
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: normal;
  font-size: 18px;
}

.results {
  margin: 20px 0;

  .sponsored {
    font-size: .7em;
    opacity: .75;
    vertical-align: middle;
  }
}

.vigilink-product-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  font-size: 90%;

  .col-sm {
    max-width: 250px;
  }
  .card {
    padding: 10px;
    height: 100%;
  }
  .product-image {
    width: 100%;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
  }
}

.listing {
  margin: 15px 0;

  &.card {
    padding: 10px;

    .card-footer {
      background: none;
      padding: 0;
      padding-top: 10px;

      .product-link {
        & + .product-divider {
          &:after {
            margin: 7px;
            content: "‧";
          }
  
          &:last-child {
            &:after {
              content: ''
            }
          }
        }
      }
    }
  }

  .title {
    margin: 0;
  }

  .display-url-link {
    text-decoration: none;
  }

  .display-url {
    color: $green;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .marketplace-label {
    border: 1px solid $green;
    padding: 0px 4px;
    border-radius: 8px;
    margin-right: 5px;
  }
}

.icon-row {
  padding-top: 10px;

  a {
    display: inline-block;
    margin: 0 2px;
    margin-bottom: 5px;
  }
}

.hidden-impression {
  position: absolute;
}